body {
    margin: 0;
}

.clear {
    clear: both;
}

.image {
    cursor: pointer;
    max-height: 100%;
    max-width: 100%;
    vertical-align: top;
}
.image_block {
    float: left;
    height: 150px;
    margin: 20px 0 0 20px;
    outline: 1px solid #ddd;
    text-align: center;
    width: 200px;
}
.images {
    outline: 1px solid black;
}

.share {
    outline: 1px solid black;
    position: fixed;
    right: 0;
    top: 0;
    width: 100px;
}

.tools {
    left: 0;
    outline: 1px solid black;
    position: fixed;
    top: 0;
    width: 150px;
}