body {
    margin: 0;
}

.clear {
    clear: both;
}

.image {
    border: 2px solid white;
    box-shadow: 0 0 3px 1px #bbb;
    cursor: pointer;
    margin: -2px 0 0 -2px;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
.image_block {
    float: left;
    height: 150px;
    line-height: 150px;
    margin: 20px 0 0 20px;
    /*outline: 1px solid #ddd;*/
    text-align: center;
    width: 150px;
}
.images {
    border-left: 1px solid black;
    margin-left: 160px;
}

.popup_content {
    max-height: 90%;
    max-width: 90%;
    position: fixed;
}
.popup_image {
    max-height: 100%;
    max-width: 100%;
    vertical-align: top;
}
.popup_layout {
    background: black;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
}

.scale {
    position: absolute;
    bottom: 0;
}
.scale span {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.tools {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 99%;
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
}